In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
df = pd.read_csv('data_project_final.csv', date_parser='publishedAt')

In [68]:
df.head(3)

,title,name,author,url,publishedAt
0,Ask Ethan: Would Life On Earth Be Possible If ...,"Medium.com,","Ethan Siegel,",https://medium.com/starts-with-a-bang/ask-etha...,2018-07-14T14:01:01Z
1,"To Recruit Students, Colleges Turn to Corporat...","The Wall Street Journal,","Melissa Korn,",https://www.wsj.com/articles/to-recruit-studen...,2018-07-14T12:00:02Z
2,Video games and mental health: 'Nobody's prope...,"BBC News,","https://www.facebook.com/bbcnews,","https://www.bbc.co.uk/news/newsbeat-44662669,",2018-07-14T00:27:36Z

In [69]:
df['publishedAt'] = pd.to_datetime(df['publishedAt'])

In [72]:
df['date'] = (df['publishedAt'].dt.date)

In [73]:
df.head()

,title,name,author,url,publishedAt,date
0,Ask Ethan: Would Life On Earth Be Possible If ...,"Medium.com,","Ethan Siegel,",https://medium.com/starts-with-a-bang/ask-etha...,2018-07-14 14:01:01,2018-07-14
1,"To Recruit Students, Colleges Turn to Corporat...","The Wall Street Journal,","Melissa Korn,",https://www.wsj.com/articles/to-recruit-studen...,2018-07-14 12:00:02,2018-07-14
2,Video games and mental health: 'Nobody's prope...,"BBC News,","https://www.facebook.com/bbcnews,","https://www.bbc.co.uk/news/newsbeat-44662669,",2018-07-14 00:27:36,2018-07-14
3,Top June Stories: 5 Data Science Projects That...,"Kdnuggets.com,","Gregory PS Editor,",https://www.kdnuggets.com/2018/07/top-stories-...,2018-07-13 20:42:59,2018-07-13
4,Microsoft calls for better facial-recognition ...,"Mashable,","Diamond Naga Siu,",https://mashable.com/2018/07/13/microsoft-face...,2018-07-13 19:07:45,2018-07-13