In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('data_project_final.csv', date_parser='publishedAt')

In [4]:
df.head(3)

,title,name,author,url,publishedAt
0,Ask Ethan: Would Life On Earth Be Possible If ...,"Medium.com,","Ethan Siegel,",https://medium.com/starts-with-a-bang/ask-etha...,2018-07-14T14:01:01Z
1,"To Recruit Students, Colleges Turn to Corporat...","The Wall Street Journal,","Melissa Korn,",https://www.wsj.com/articles/to-recruit-studen...,2018-07-14T12:00:02Z
2,Video games and mental health: 'Nobody's prope...,"BBC News,","https://www.facebook.com/bbcnews,","https://www.bbc.co.uk/news/newsbeat-44662669,",2018-07-14T00:27:36Z

In [5]:
df['publishedAt'] = pd.to_datetime(df['publishedAt'])

In [6]:
df['date'] = (df['publishedAt'].dt.date)

In [7]:
df.head()

,title,name,author,url,publishedAt,date
0,Ask Ethan: Would Life On Earth Be Possible If ...,"Medium.com,","Ethan Siegel,",https://medium.com/starts-with-a-bang/ask-etha...,2018-07-14 14:01:01,2018-07-14
1,"To Recruit Students, Colleges Turn to Corporat...","The Wall Street Journal,","Melissa Korn,",https://www.wsj.com/articles/to-recruit-studen...,2018-07-14 12:00:02,2018-07-14
2,Video games and mental health: 'Nobody's prope...,"BBC News,","https://www.facebook.com/bbcnews,","https://www.bbc.co.uk/news/newsbeat-44662669,",2018-07-14 00:27:36,2018-07-14
3,Top June Stories: 5 Data Science Projects That...,"Kdnuggets.com,","Gregory PS Editor,",https://www.kdnuggets.com/2018/07/top-stories-...,2018-07-13 20:42:59,2018-07-13
4,Microsoft calls for better facial-recognition ...,"Mashable,","Diamond Naga Siu,",https://mashable.com/2018/07/13/microsoft-face...,2018-07-13 19:07:45,2018-07-13

In [27]:
df['author'].apply(lambda x: x.split(' ')[0])

0                                   Ethan
1                                 Melissa
2       https://www.facebook.com/bbcnews,
3                                 Gregory
4                                 Diamond
5                                   Jacob
6                                  Hilary
7                                 Gregory
8                                     The
9                                   Ethan
10                                Saurabh
11                               Reuters,
12                                   Tony
13                                  Tanya
14                                  Susan
15      https://www.facebook.com/bbcnews,
16                                Gregory
17                                  Louis
18                                   Paul
19                                 Robert
20                                  Kasia
21                                Gregory
22      https://www.facebook.com/bbcnews,
23                                 Thomas
24                                  David
25                                 Graham
26                                  David
27                               Frederic
28                                   Bain
29                                   Ryan
                      ...
9941                               Monica
9942                                 Aili
9943    https://www.facebook.com/bbcnews,
9944                                  Bob
9945                                  Tom
9946                                  Gil
9947                                Julie
9948                                  Not
9949                                 Troy
9950                                Julie
9951    https://www.facebook.com/bbcnews,
9952                             Kimberly
9953                             Kimberly
9954                                Kerry
9955                              Tristan
9956          lbeaver@businessinsider.com
9957                               Ingrid
9958                              Jessica
9959                             Jitendra
9960                                Boris
9961                               Forbes
9962                             Kimberly
9963                              Edoardo
9964    https://www.facebook.com/bbcnews,
9965                               Laurie
9966                                  Not
9967                                  Not
9968                                  EY,
9969                               Steven
9970                                  Joe
Name: author, Length: 9971, dtype: object

In [30]:
"jicksy john".split(' ')[0]

'jicksy'